
body {
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link    {color:blue;}
a:visited {color:blue;}
a:hover   {color:blue;}
a:active  {color:blue;}

div.code
{
  border-right: white 2px ridge; 
  border-top: white 2px ridge; 
  border-left: white 2px ridge; 
  border-bottom: white 2px ridge; 
  
  padding-right: 10px; 
  padding-left: 10px; 
  padding-bottom: 10px; 
  padding-top: 10px;
  
  font-size: 10pt;   
  margin: 10px;   
  font-family: courier new; 
  background-color:#F3F3F7;
}

span.Keyword,
span.ReferenceType,
span.ValueType,
span.Modifier,
span.Statement,
span.MethodParameter,
span.Namespace,
span.DataType,
span.Function,
span.Method,
span.Object,
span.Operator,
span.Property,
span.SysTable,
span.SysSproc,
span.GlobalVariable,
span.ReservedKeyword,
span.SystemFunction,
span.Type,
span.PreProcessorDirective, 
pan.Element
{
    color: #0000cc;
}

span.String {
	color:red;
}

span.InlineComment {
	color:green;
}